.box > select {
    height: 54px;
    margin: 5px;
    border-radius: 5px;
}

.box select {
    background-color: #0563af;
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.box::before {
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
    padding: 30px;
}
.searchInput{
    display: flex;
    align-items: center;
}
.search-btn {
    color: rgb(143, 143, 143);
    font-size: 30px;
    width: 172px;
    height: 52px;
}
.select-input {
    color: black;
}
.searchBox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    
}


@media screen and (max-width: 690px) {
    input {
        width: 140px;
    }
    .box > select {
        width: 210px;
        margin: 20px;
    }
    .search-btn {
        width: 100%;
        height: 55px;
    }
    .searchBox {
        flex-direction: column-reverse;
    }
    .searchInput{
        display: block;
        align-items: none;
    }
    .searchBox{
        display: block;
        align-items: none;
    }
    .grid-container {
        align-items: none;
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(3, 50px);
        gap: 5%;
    }
    .textField{
        grid-column: 1 / 2;
        grid-row: 1;
        
    }
    .button{
        grid-column: 2 / 3;
        grid-row: 1;
        
    }
    .box{
        grid-column: 1 / 3;
        grid-row: 2;
    }
    .box{
        margin-left: 35px;
        margin-top: 10px;
    }
    .searchBox {
        flex-direction: row;
    }
}

